{% extends "base.html" %}


{% block title %}
    تماس با ما | {{ block.super }}
{% endblock title %}

{% block content %}
  {% if message_good %}
    <div style="margin-left: 816;width: 600;" class="uk-alert-success" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <p style="direction: rtl;margin-right: 10;">{{message_good}}</p>
    </div>
  {% endif %}
  <form method="POST" style="margin-top: 50;width: 1000;margin-left: 460;direction: rtl;">
    {% csrf_token %}
    <fieldset class="uk-fieldset">
        <p>برای ارتباط با ما لطفا فرم زیر را کامل کنید</p>
        <legend class="uk-legend">ارتباط با ما</legend>
        <div class="uk-margin">
            <input style="height: 60;" class="uk-input" name="name" type="text" placeholder="نام و نام خانوادگی" required>
        </div>
        <div class="uk-margin">
            <input style="height: 60;" class="uk-input" name="email" value="{{ request.user.email }}" type="email" placeholder="پست الکترونیکی" required>
        </div>
        <div class="uk-margin">
            <input style="height: 60;" class="uk-input" name="phonenumber" type="number" placeholder="شماره همراه" required>
        </div>
        <div class="uk-margin">
            <textarea class="uk-textarea" name="content" placeholder="توضیحات" rows="5" placeholder="Textarea" required></textarea>
        </div>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="6Lf31UMUAAAAAFU-fzaMDXyKisAfxJb9wNoBb3gf"></div>
        <br>
        <button style="height: 60;" class="uk-button uk-button-default">ارسال</button>
    </fieldset>
  </form>
{% endblock %}
